.navbar {
  background-color: rgb(0, 0, 0);
}

.navbar-brand {
  font-size: 40px;
}

.navbar span {
  color: orange;
}

.navbar-toggler {
  border: none;
}

.navbar .nav-link {
  color: darkorange;
}

main {
  width: 100%;
  background-color: rgba(243, 125, 57, 0.7137254902);
  background-image: url(../img/Main.JPG);
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
}

h2 {
  background-color: rgba(255, 136, 0, 0.6156862745);
  width: 100%;
  color: #fff;
  text-shadow: 0 0 5px #000;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 3px;
}

.nleft {
  height: 800px;
  background-image: url(../img/fotosoldi.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0px;
}

.nright {
  color: white;
  text-align: justify;
  text-shadow: 0 0 5px #000;
  font-size: 19px;
  padding-top: 30px;
  margin-top: 0;
  background-color: rgba(243, 125, 57, 0.2039215686);
}

.palabrasde {
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 0 0 5px #000;
  font-size: 35px;
  padding-top: 30px;
  padding: 100px;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.8901960784);
}

.textoindex {
  margin: 23px;
}

.infonosotrosright {
  height: 100vh;
  background-image: url(../img/nosotros.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.infonosotrosleft {
  color: white;
  text-align: justify;
  text-shadow: 0 0 5px #000;
  font-size: 19px;
  padding-top: 30px;
  margin-top: 0;
  background-color: rgba(243, 125, 57, 0.1294117647);
}

.textonosotros {
  padding: 30px;
}

.cursos {
  width: 100%;
  height: auto;
}

.nleftcursos, .nleftguitarra, .nleftteatro {
  height: 450px;
  background-image: url(../img/cursos.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  padding-top: 0px;
}

.nrightcursos, .nrightteatro {
  color: white;
  text-align: justify;
  text-shadow: 0 0 5px #000;
  font-size: 20px;
  padding-top: 30px;
  background-color: rgba(243, 57, 57, 0.4392156863);
}

.nleftteatro {
  background-image: url(../img/teatro.jpg);
}

.nrightteatro {
  background-color: rgba(255, 136, 0, 0.8156862745);
}

.nleftguitarra {
  background-image: url(../img/guitarra.jpg);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2, 1fr));
  grid-gap: 1px;
}

img {
  width: 100%;
  height: auto;
  border: 3px solid #f37d39;
  max-width: 100%;
  transition: transform 1s ease-in-out;
}

.imagenturismo:hover {
  transform: scale(1.03);
}

.infoturismo {
  height: auto;
  background-color: rgba(255, 136, 0, 0.2196078431);
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 3px;
}

.textoturismo {
  padding: 25px;
  text-align: justify;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.inputs input {
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 10px 0;
  margin-top: 50px;
  padding: 10px;
  border: 3px solid rgba(0, 0, 0, 0.8);
  outline: none;
}

.mensaje input {
  padding-left: 100px;
  width: 300px;
  margin: 10px 0px 50px 0;
  padding: 10px;
  border: solid 3px rgba(0, 0, 0, 0.8);
  background-color: white;
  height: 150px;
  outline: none;
}

.enviar input {
  font-size: 20px;
  color: #f37d39;
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 50px 0;
  padding: 10px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.enviar:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.mapa {
  display: block;
  width: 100%;
}
.mapa iframe {
  display: block;
  position: center;
  width: 100%;
  height: 450px;
}

footer {
  background-color: #000;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

.redes i {
  font-size: 50px;
  margin-bottom: 20px;
  letter-spacing: 20px;
  color: #ffffff;
}

.redes i:hover {
  color: darkmagenta;
}

.subir {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: orange;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.subir:hover {
  background-color: #333;
}/*# sourceMappingURL=estilos.css.map */